.salesContainer{
    height: 100%;
    width: 100%;
    display: grid;
    overflow: scroll;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    background-color: white;
}

.salesContainer .mainContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
   background-color: rgb(255, 254, 254);
}

.cartOptionsMasterContainer{
    padding: 20px;
    display: flex;
   flex-direction: column;
   gap: 20px;
}

.salesContainer .infoContainer{
    background-color: #f0f2f5;
    height: 100%;
 }

.salesContainer .mainContainer .searchContainer{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.searchContainer .bookIconContainer{
    color: #3161d5;
    border: solid rgb(186, 186, 186) 0.5px;
    height: 100%;
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    border-radius:5px;
}

.bookIconContainer:hover{
    cursor: pointer;
}

.bookIconContainer.active{
    background-color: #3161d5;
    color: white;
}



.searchContainer .searchBar{
    width: 100%;
    height: 100%;
}

.CartSummaryInfoContainer{
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CartSummaryInfoContainer p{
    margin: 0;
}

.orderIdContainer{
    display: flex;
    gap: 5px;
    align-items: center;
}
.orderIdContainer .orderIdLabel{
    color: grey;
}

.cartInfo{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.cartIconsContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cartSummaryTitle{
    font-weight: bold;
}

.cartIconsContainer>div{
    border: solid rgb(186, 186, 186) 0.5px;
    border-radius:5px;
    padding: 10px;
}


.cartInfoHeadings{
    display: grid;
    padding: 10px;
    color: gray;
    border-top: solid rgb(189, 189, 189) 0.5px;
    border-bottom: solid rgb(191, 191, 191) 0.5px;
    grid-template-columns: 50% 10% 30% 10%;
    box-shadow: 0px 0px 20px rgba(189, 189, 189, 0.45);
}

.cartInfoTable{
    width: 100%;
}

.cartInfoHeadings th{
    text-align: center;
    font-weight: 400;
}

.cartInfoHeadings .itemHeading{
    text-align: start;
}

.cartInfoTableBody {
   
}

.cartInfoTableBody tr{
    display: grid;
    grid-template-columns: 50% 10% 30% 10%;
    padding: 10px;
    border-bottom: solid rgb(191, 191, 191) 0.5px;
}

.cartInfoTableBody tr td{
    text-align: center;
}

.cartInfoTableBody .itemData{
    text-align: start;
}

.itemData .itemName{
    font-weight:600;
}

.itemDeleteIcon{
    color:gray;
}
